


/* ============DOM background================ */
body { 
    margin: 0;
    padding: 0;
    /* background-color: #c36724; */
    /* background-color: #433c34; */
    /* background-color: #340034; */
    /* background-color: #1a0034; */
    /* background-color: #200020;; */
    background-color: #0d000d;
    }

/* ====================Navigation================= */
navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin-left: 20px;
    background-color: #c36724;
    color: #dedede;
    font-family: "Raleway", sans-serif ;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
    /* background-color: #433c34; */
    z-index: 1000;
}

.navbar h4{
    margin-left: 20px;
}

.menu {
    position: absolute;
    top: 0px;
    right: 0;
}

ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    padding: 0 20px 0 20px;
}

li {
    margin: 0 10px;
    padding: 0 10px;
}

/* ===============Home Page | Slider and images================== */
#albumPics {
    width: 850px;
    height: 500px;
    margin: 8% auto 0 auto;
    position: relative;
    border: 5px solid #dedede;
    box-shadow: 0 0 5px 2px lightgray;

}

img {
    width: 100%;
    height: 500px;
}

/* Buttons */
button {
    padding: 10px;
    background-color: #c36724;
    font-size: 24px;
    font-weight: bold;
    color: #dedede;
    position: absolute;
    /* top: 35%;
    left: 0; */
    border-radius: 10px;
    cursor: pointer;
}

.right {
    position: absolute;
    top: 35%;
    right: 0;
}

.left {
    position: absolute;
    top: 35%;
    left: 0;
}

/* ============================================== Design Page ==================================== */
     /* ------------------ Top Elements ------------------- */
     
     
     section {
         display: flex; 
         flex-wrap: wrap;
         margin: 10% 20%;
         font-family: "Raleway", sans-serif; 
         color: rgb(175, 173, 173);
         border: solid 1px goldenrod;
         background-color: #3f173f;
        }
        .flex1 {
            order: 1;
        }

        .flex2 {
            order: 2;
            flex-basis: 50%;
        }

/* ------------------ First Section | Calculator ------------------- */

        #firstSection {
            display: flex; 
            flex-wrap: wrap;
            justify-content: left;
            margin: 10% 20%;
            font-family: "Raleway", sans-serif; 
            color: #dedede;
            display: flex;
            border: solid 1px goldenrod;
            background-color: #3f173f;
           }
           .flex3 {
               order: 1;
               flex-basis: 50%;
               border-right: solid goldenrod 1px;
           }
   
           .flex4 {
               order: 2;
               flex-basis: 50%;
           }

           #calculator {
            border-right: solid goldenrod 1px;
        }
         
           #firstSection {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            /* Typography */
            font-size: 16px;
            color: #777;
            text-align: center;
            background-image: url("../images/oriental-tiles.png")
          }
        
          #title {
              margin-top: 150px;
              text-align: center;
              font-family: 'Bungee Inline';
              font-size: 18px;
              color: #dedfe0;
              letter-spacing: 1.5px;
          }
        
          .instructions {
              text-align: center;
              font-size: 14px;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
        
          #displayResults {
            width: 75px;
            max-height: 35px;
            margin: 0 auto;
            margin-top: 25px;
            background-color: #f28e1f;
            text-align: right;
            font-size: 12px;
            padding: 15px 10px 0 0;
            color: #fff;
        
          }
          
        
          #number1, #number2 {
              width: 50px;
              height: 25px;
              margin: 2px;
              font-size: 10px;
              text-align: right;
              background-color: #f3f3f4;
          }
        
          .row button {
            width: 35px;
            height: 23px;
            margin: 2px;
            font-size: 10px;
            background-color: #49b5cc;
            color: #fff;
        }
        
         #r3, #r4, button:hover {
              background-color: #ffcd96;
          }
        
          #r4, #clearBtn {
            width: 25px; 
            height: 12px;
            font-size: 9px;
        } 


        

/* =================Modal=============== */
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border: 3px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #e2bea4;
    width: 500px;
    max-width: 80%;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1ps solid black;
}

.modal-header .modalTitle {
    width: 100%;
    font-family: "Raleway", sans-serif ;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}

.modal-header #closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 90%;
    margin-top: -10px;
}

.modal-body {
    font-family: "Raleway", sans-serif ;
    padding: 10px 15px; 
}

.contactUs {
    width: 70px;
    font-size: 12px;

    padding: 3px;
    border-radius: 5px;
}

.form-control { 
    width: 100%;
    height: 30px;
}


/* ==============Footer================ */
footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    position: fixed;
    /* padding-left: 20px; */
    text-align: center;
    color: #dedede;
    /* background-color: #433c34; */
    background-color: #270034;
    /* background-color: #340034; */
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
    /* z-index: 1000; */
    font-family: sans-serif;
    font-size: 10px;
}


